
# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
pytest/PopData/eth_pd_2020_1km_UNadj.tif
pytest/PopData/ken_pd_2020_1km_UNadj.tif
pytest/PopData/metadata.json
pytest/PopData/mwi_pd_2020_1km_UNadj.tif
pytest/PopData/phl_pd_2020_1km_UNadj.tif
pytest/PopData/zmb_pd_2020_1km_UNadj.tif
